<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agriSmart.plot.mapper.PlotEnvRealtimeMapper">
    
    <resultMap type="PlotEnvRealtime" id="PlotEnvRealtimeResult">
        <result property="id"    column="id"    />
        <result property="plotId"    column="plot_id"    />
        <result property="collectTime"    column="collect_time"    />
        <result property="plotName"    column="plot_name"    />
        <result property="alertType"    column="alert_type"    />
        <result property="unit"    column="unit"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="envValue"    column="env_value"    />
        <result property="alertTypeId"    column="alert_type_id"    />
    </resultMap>

    <sql id="selectPlotEnvRealtimeVo">
        select a.id, a.plot_id, a.collect_time, a.env_value, a.alert_type_id,
               b.name as alert_type, c.name as plot_name, b.unit
        from plot_env_realtime a
            join alert_type b on a.alert_type_id = b.id
            join farm_plot c on a.plot_id = c.id
    </sql>

    <select id="selectPlotEnvRealtimeList" parameterType="PlotEnvRealtime" resultMap="PlotEnvRealtimeResult">
        <include refid="selectPlotEnvRealtimeVo"/>
        <where>  
            <if test="plotId != null "> and a.plot_id = #{plotId}</if>
            <if test="plotName != null and plotName != ''"> and c.name like concat('%', #{plotName}, '%')</if>
            <if test="alertTypeId != null "> and a.alert_type_id = #{alertTypeId}</if>
        </where>
    </select>
    
    <select id="selectPlotEnvRealtimeById" parameterType="Long" resultMap="PlotEnvRealtimeResult">
        <include refid="selectPlotEnvRealtimeVo"/>
        where a.id = #{id}
    </select>

    <select id="selectPlotEnvRealtimeByIds" resultMap="PlotEnvRealtimeResult">
        select id,plot_id,alert_type_id
        from plot_env_realtime
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertPlotEnvRealtime" parameterType="PlotEnvRealtime" useGeneratedKeys="true" keyProperty="id">
        insert into plot_env_realtime
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="plotId != null">plot_id,</if>
            <if test="collectTime != null">collect_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="envValue != null">env_value,</if>
            <if test="alertTypeId != null">alert_type_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="plotId != null">#{plotId},</if>
            <if test="collectTime != null">#{collectTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="envValue != null">#{envValue},</if>
            <if test="alertTypeId != null">#{alertTypeId},</if>
         </trim>
    </insert>

    <update id="updatePlotEnvRealtime" parameterType="PlotEnvRealtime">
        update plot_env_realtime
        <trim prefix="SET" suffixOverrides=",">
            <if test="plotId != null">plot_id = #{plotId},</if>
            <if test="collectTime != null">collect_time = #{collectTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="envValue != null">env_value = #{envValue},</if>
            <if test="alertTypeId != null">alert_type_id = #{alertTypeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlotEnvRealtimeById" parameterType="Long">
        delete from plot_env_realtime where id = #{id}
    </delete>

    <delete id="deletePlotEnvRealtimeByIds" parameterType="String">
        delete from plot_env_realtime where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>